---
const today = new Date();
const year = today.getFullYear();
---

<div><div>
    <div>
      <h3>Location</h3>
      <p>Tampere, Finland</p>
    </div>
    <div>
      <h3>Contact</h3>
      <p>kakkoteemu(at)outlook.com</p>
    </div>
    <div>
      <h3>Social media</h3>
      <p>
        <a href='https://twitter.com/kakkoteemu' target='blank'>
          Twitter
        </a>
        ,{' '}
        <a href='https://fi.linkedin.com/in/kakkoteemu' target='blank'>
          LinkedIn
        </a>
        ,{' '}
        <a href='https://github.com/teemeam' target='blank'>
          GitHub
        </a>
      </p>
    </div>
  </div>
  <p>&copy; 2015&ndash;{year}</p></div>
