---
const today = new Date();
const year = today.getFullYear();
---

<div class='py-7'>
  <div class='mx-auto flex w-11/12 flex-col items-center justify-between gap-3 md:gap-4 lg:flex-row'>
    <!-- Location -->
    <div class='flex-1'>
      <p
        class='my-2 text-center font-playfair text-lg font-light text-black sm:text-xl md:my-2 md:text-2xl'
      >
        <strong class='font-black'>Location</strong>
      </p>

      <p
        class='my-2 text-center font-montserrat font-light text-black sm:text-lg md:my-2 md:text-xl'
      >
        Tampere, Finland
      </p>
    </div>

    <!-- Contact -->
    <div class='flex-1'>
      <p
        class='my-2 text-center font-playfair text-lg font-light text-black sm:text-xl md:my-2 md:text-2xl'
      >
        <strong class='font-black'>Contact</strong>
      </p>

      <p
        class='my-2 text-center font-montserrat font-light text-black sm:text-lg md:my-2 md:text-xl'
      >
        kakkoteemu(at)outlook.com
      </p>
    </div>

    <!-- Social media -->
    <div class='flex-1'>
      <p
        class='my-2 text-center font-playfair text-lg font-light text-black sm:text-xl md:my-2 md:text-2xl'
      >
        <strong class='font-black'>Social media</strong>
      </p>

      <p
        class='my-2 text-center font-montserrat font-light text-black sm:text-lg md:my-2 md:text-xl'
      >
        <a
          class='border-b border-black'
          href='https://fi.linkedin.com/in/kakkoteemu'
          target='_blank'>LinkedIn</a
        > &{' '}
        <a class='border-b border-black' href='https://github.com/teemeam' target='_blank'>GitHub</a
        >
      </p>
    </div>
  </div>

  <!-- Copyright -->
  <p
    class='mx-auto mt-7 w-11/12 text-center font-montserrat text-xs font-light text-black opacity-20'
  >
    &copy; 2015&ndash;{year}
  </p>
</div>
