---

---

<div class='relative h-lvh w-full overflow-hidden bg-neutral-200'>
  <div class='mx-auto flex h-full w-11/12 items-center justify-center'>
    <div
      class='circle-fade absolute h-[400px] w-[400px] -translate-y-1/3 translate-x-1/2 rounded-full bg-gradient-to-b from-[#f13995bb] to-[#faa894c1] blur-3xl sm:h-[450px] sm:w-[450px] md:h-[500px] md:w-[500px]'
    >
    </div>

    <div
      class='circle-fade absolute h-[500px] w-[500px] rounded-full bg-gradient-to-b from-[#fc92aebf] to-[#f9cc9dbe] blur-3xl sm:h-[550px] sm:w-[550px] md:h-[600px] md:w-[600px]'
    >
    </div>

    <div class='z-10 inline-block w-fit xl:-translate-x-1/4'>
      <h1
        class='font-playfair text-6xl font-black leading-none text-green-900 sm:text-8xl md:text-9xl'
      >
        Hey,
        <br />
        I'm Teemu
      </h1>

      <p
        class='mt-2 font-montserrat text-xl font-light leading-tight text-green-900 sm:text-2xl md:text-3xl'
      >
        a Finnish journalist and developer
      </p>
    </div>
  </div>
</div>
