---

---

<div class='relative h-lvh w-full'>
  <div class='mx-auto flex h-full w-11/12 items-center justify-center'>
    <div class='inline-block w-fit xl:-translate-x-1/4'>
      <h1 class='font-playfair text-6xl font-black leading-none text-black sm:text-8xl md:text-9xl'>
        Hey,
        <br />
        I'm Teemu
      </h1>

      <p class='mt-2 font-montserrat text-xl font-light text-black sm:text-2xl md:text-3xl'>
        a Finnish journalist and developer
      </p>
    </div>
  </div>
</div>
