---

---

<div class='relative my-[50lvh] w-full overflow-hidden'>
  <div class='mx-auto w-11/12 max-w-xl'>
    <p class='text-center font-montserrat text-xl font-light text-black sm:text-2xl md:text-3xl'>
      In my current role, I focus on enhancing journalistic <strong class='font-black'
        >storytelling</strong
      >, explaining complex topics through <strong class='font-black'>data</strong> and experimenting
      with <strong class='font-black'>new formats</strong> for online articles.
    </p>
  </div>
</div>
